*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
}

#left{
    position: relative;
    width: 40%;
    height: 100%;
    background-color: rgb(215, 208, 174);
}

#right{
    width: 60%;
    height: 100%;
}

#right-top{
    display: flex;
    width: 100%;
    height: 50%;
}

#right-bottom{
    width: 100%;
    height: 50%;
    background-image: url(https://i.pinimg.com/1200x/4d/ea/85/4dea853eeeed3a3bead38742d3e69171.jpg);
    background-size: cover;
    background-position: center;
}

#right-top-left{
    width: 50%;
    height: 100%;
    background-image: url(https://i.pinimg.com/736x/ca/9a/d6/ca9ad641a454f702694cfef2e1b1d891.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#right-top-right{
    width: 50%;
    height: 100%;
    background-image: url(https://i.pinimg.com/1200x/e3/1f/4d/e31f4da74dbfaa32976782bb62768f27.jpg);
    background-size: cover;
    background-position: center;
}

#left-nav{
    width: 100%;
    display: flex;
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
}

#left-nav-right{
    display: flex;
    align-items: center;
}

#left-nav-right a{
    margin-right: 20px;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 600;
    color: rgb(45, 26, 3);
}

#left #text-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text-center h1{
    font-size: 4em;
    font-weight: 900;
}

#text-center p{
    opacity: .5;
    line-height: 1.2;
    font-size: .9em;
    margin-top: 20px;
    margin-bottom: 20px;
}

#text-center a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid rgb(54, 54, 54);
    padding-bottom: 2px;
    font-size: 13px;
    font-weight: 600;
    opacity: .6;
}

/* Responsive code */

@media(max-width: 600px)
{
    #main{
        flex-direction: column;
    }

    #main #left{
        width: 100%;
    }

    #main #right{
        width: 100%;
    }
}